*{
margin: 0;
padding:0;
box-sizing: border-box;
}


#header1{
width: 100%;
    height:30px;
border: 1px solid rgb(15,35,65) ;
background-color:rgb(15,35,65);
display: flex;
justify-content: center;
align-items: center;
font-size: 8px;
font-family: sans-serif;

color: white ;
position: fixed;
top: 0px;
z-index: 10;

}
#header2{
width: 100%;
    height:50px;
border: 2px solid white;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 8px;
font-family: sans-serif;
color: white ;
position: fixed;
top: 25px;
z-index: 10;

}
#section1{
  
width: 20%;
    height:5%;


display: flex;
justify-content: flex-start;
align-items: center;
padding: 40px;

  
}

#section1 img{
 width: 90px;
   height: auto;
}


#section2{
width: 70%;
    height:30px;

color: rgb(15,35,65) ;
display: flex;
justify-content: flex-start;
align-items: center;
text-decoration: inherit;
font-size: 11px;

padding: 25px;
font-weight: 100;
}

#section3{
width: 30%;
    height:50px;
    border: 2px solid white;
display: flex;
justify-content: flex-end;
align-items: center;
gap: 20px;
padding: 20px;

}
#section3 i {color: black;
font-size: 18px;
}


#overlaytext{

    width:100%;
    height:80%;  
    border: 2px solid white;
display: flex;
align-items: center;
position: relative;

}

#overlaytext img{
    height: 50%;
     width: 100%;
}
.overlaytext1{
  font-weight: bold;
display: flex;
justify-content: flex-end;
align-items: center;
position: absolute;
top: 40%;
left: 10%;
color:rgb(15,35,65) ;
}
.overlaytext2{
display: flex;
justify-content: flex-end;
align-items: center;
position: absolute;
top: 50%;
left: 10%;
color: rgb(15,35,65);
}


.overlaytext3{
    width: 30%;
    height:50px;
    border: 2px solid rgb(15,35,65);
top:60%;
left: 9%;
display: flex;
justify-content: center;
background-color: white;
border-radius:15px;
align-items: center;
position: absolute;
color: rgb(15,35,65);
transition: all 1s ease-in;

}
.overlaytext3:hover{
    background-color: rgb(157, 157, 238);
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px grey;
}

#thatbox{
width: 100%;
height: 40px;
  border: 2px solid white;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
}

#font{
    text-align: center;
    background-color: rgb(212, 231, 237);
    font-size: 27px;
    padding-top: 32px;
}

#lightbluebox{
width: 100%;
    height:450px;
    border: 2px solid rgb(212, 231, 237) ;
    background-color: rgb(212, 231, 237);
display: flex;
gap: 18px;
align-items: center;
justify-content: center;



}
.box1{
    width: 200px;
    height:350px;
    border: 2px solid white;
    border-radius: 30px;
    flex-direction: column;
display: flex;
justify-content: start;
align-items: first baseline;
padding:10px;
background-color: white;


}
.img1{
    padding-left: 10px;
}
.img1 img{
     width: 140px;
    height: auto;
  
}

.img2 img{
     width: 140px;
    height: auto;
  
}

.img3{
    padding-left: 10px;
}
.img3 img{
     width: 140px;
    height: auto;
  
}
.img4{
    padding-left: 10px;
}

.img4 img{
     width: 140px;
    height: auto;
  
}

.btn1{
    width: 60px;
    height: 20px;
     border: 2px solid   rgb(15,35,65);
     background-color: rgb(15,35,65);
    border-radius: 9px;
    color: white;
    font-size: 12px;
    align-items: center;
    text-align: center;
}
.btn2{
    width: 80px;
    height: 20px;
     border: 2px solid rgb(15,35,65);
     background-color: rgb(15,35,65);
    border-radius: 9px;
    color: white;
    font-size: 12px;
    align-items: center;
    text-align: center;
}




.txt{
     width: 180px;
    height: 40px;
     border: 2px solid white;
    border-radius: 9px;
    color: rgb(15,35,65) ;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
    background: white;
    
}
.c{
    color: red;
}
.matcha{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}


.vanilla{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

.brew{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.tea{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

.atc{
width: 180px;
    height: 40px;
     border: 2px solid rgb(15,35,65);
    border-radius: 9px;
    color: white ;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
    background: rgb(33,87,50);
}
 
.atc2{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.ground{
width: 88px;
    height: 40px;
     border: 2px solid rgb(15,35,65);
    border-radius: 9px;
    color: black ;
    font-size: 15px;
    display: flex;
   
    justify-content: center;
    align-items: center;
    text-align: center;  
    background: white;
}

.add{
    width: 88px;
    height: 40px;
     border: 2px solid rgb(15,35,65);
    border-radius: 9px;
    color: white ;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
    background:  rgb(33,87,50) ;
}

.img3 {
   width: 150px;
  
    
}


.r{
    width: 180px;
    height: 20px;
     border: 2px solid white;
    border-radius: 9px;
    color: black ;
    font-size: 10px;
    display: flex;
  
    justify-content: center;
    align-items: center;
    text-align: center;  
    background-color: white;
}
.r1{
width: 180px;
    height: 20px;
     border: 2px solid  white;
    border-radius: 9px;
    color: black ;
    font-size: 10px;
    display: flex;
  
    justify-content: center;
    align-items: center;
    text-align: center;  
    background-color: white;

}

.re{
    margin: 2px;
}

.fa-star {
  color: rgb(236, 236, 6);

}
.fa-star-half{
     color: rgb(236, 236, 6);
}

.position{
    display: flex;
/* flex-direction: column; */
justify-content: center;
align-items: center;
margin-top: 8px;


}

.box2{
    width: 200px;
    height:350px;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
justify-content: start;
align-items: first baseline;
padding-left: 8px;
padding-top: 10px;
flex-direction: column;
background-color: white;

}

.box3{
    width: 200px;
    height:350px;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
justify-content: start;
align-items: first baseline;
padding-left: 8px;
padding-top: 10px;
flex-direction: column;
background-color: white;
}

.box4{
    width: 200px;
    height:350px;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
justify-content: start;
align-items: first baseline;
padding-left: 8px;
padding-top: 30px;
flex-direction: column;
background-color: white;
}

.Box4{
    width: 200px;
    height:350px;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
justify-content: start;
align-items: first baseline;
padding-left: 8px;
padding-top: 10px;
flex-direction: column;
background-color: white;
}


.change{
    color:rgb(15,35,65) ;
    font-size: 20px;
    padding-top: 40px;
    text-align: center;
    
}
#whitebox{
width:1010px;
    height:400px;
    border: 2px solid rgb(212, 231, 237) ;
    background-color:white;
display: flex;
justify-content: center;
text-align: center;

font-size: 25px;

flex-wrap: wrap;
}
.s{
    background-color: rgb(212, 231, 237);
}

.longbox{
width: 1020px;
    height:359px;
    border: 2px solid white;
    background-color:white;
display: flex;
justify-content: center;
text-align: center;

}
.b1{
width: 14%;
    height:335px;
    border: 2px solid white ;
    background-color:white;
display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
font-size: small;

}
.b1 img{
    width: 170px;
    height: 170px;
    padding-left: 20px;
}

.b2{
width: 14%;
    height:335px;
    border: 2px solid white ;
    background-color:white;
display: flex;
justify-content: center;
text-align: center;

flex-direction: column;
font-size: small;
}
.b2 img{
    width: 150px;
    height: 150px;
    padding-left: 20px;
}

.b3{
width: 14%;
    height:335px;
    border: 2px solid white ;
    background-color:white;
display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
font-size: small;
}
.b3 img{
    width: 170px;
    height: 170px;
    padding-left: 20px;
}

.b4{
width: 14%;
    height:335px;
    border: 2px solid white ;
    background-color:white;
display: flex;
justify-content: center;
text-align: center;

flex-direction: column;
font-size: small;
}
.b4 img{
    width: 170px;
    height: 170px;
    padding-left: 20px;
}
.b5{
width: 14%;
    height:335px;
    border: 2px solid white;
    background-color:white;
display: flex;
justify-content: center;
text-align: center;

flex-direction: column;
font-size: small;
}
.b5 img{
    width: 170px;
    height: 170px;
    padding-left: 20px;
}

.b6{
width: 14%;
    height:335px;
    border: 2px solid white ;
    background-color:white;
display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
font-size: small;
}
.b6 img{
    width: 150px;
    height: 150px;
    padding-left: 20px;
}
#white{

width:1020px;
    height:400px;
    border: 2px solid rgb(212, 231, 237) ;
    background-color:white;
display: flex;
justify-content: center;
text-align: center;
font-size: 25px;
   
}

.s{
    display: flex;
justify-content: center;

}

#buzz{
    padding-top: 30px;
display: flex;
justify-content: center;
text-align: center;
align-items: center;
justify-content: center;
font-size: 25px;
color: rgb(15,35,65);
} 
.BOX1{
width: 220px;
    height:450px;
  
    border-radius: 30px;
    flex-direction: column;
display: flex;
justify-content: start;
align-items: first baseline;
padding-left: 1px;
padding-top: 10px;
}
.IMG1{
width: 180px;
    height:180px;

    border-radius: 30px;
}
.IMG1 img{
    width: 150px;
    height: 150px;
}


.R{width: 180px;
    height: 30px;
   
    border-radius: 9px;
    color: black ;
    font-size: 14px;
    display: flex;
  padding-top: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;  
    background-color: white;
}
.RE{
   padding-top: 10px;
}
.TXT{
    width: 180px;
    height: 150px;
  
    border-radius: 9px;
    color: rgb(15,35,65) ;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
    background: white;
}

.exploreproduct{
width: 180px;
    height: 40px;
     border: 2px solid rgb(15,35,65);
    border-radius: 9px;
    color: white ;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
    background: rgb(33,87,50);
 font-size: 12px;
}
#WHITE{
    width: 100%;
    height:490px;
    border: 2px solid white ;
    background-color: white;
display: flex;
justify-content: center;
align-items: center;
}

#lbfinal{
    width: 100%;
    height:450px;
    border: 2px solid rgb(212, 231, 237) ;
    background-color: rgb(212, 231, 237);
display: flex;
justify-content: center;
align-items: center;
align-items: center;

}

.darkblue{
 width: 90%;
    height:400px;
    border: 2px solid rgb(212, 231, 237) ;
    background-color:rgb(15,35,65);
display: flex;
justify-content: center;
align-items: center;
text-align: center;
border-radius: 20px;
}
.box{
    flex: 1;
    height: 390px;
    width: 88%;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}

.left{
  padding-top: 100px;
padding-left: 25px;
padding-right: 25px;
text-align: center; 
font-size: small;
}

.box img{
    height: 390px;
    width: 88%;
}
.learnmore{
    width: 180px;
    height: 40px;
     border: 2px solid rgb(15,35,65);
    border-radius: 9px;
    color:rgb(15,35,65) ;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
    background: white;
    margin-left: 120px;
    

}
.T{
    color: white;
}

#A{
    width: 100%;
    height:450px;
    border: 2px solid rgb(212, 231, 237) ;
    background-color: white;
display: flex;
justify-content: space-between;
align-items: center;
align-items: center;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
gap: 20px;

}
.emailbox{
    width: 300px;
    height: 35px;
     border: 2px solid rgb(15,35,65);
    border-radius: 9px;
    color:rgb(15,35,65) ;
    font-size: 15px;
    display: flex;

    justify-content: center;
    /* align-items: center; */
    /* text-align: center;   */
    background: white;
    padding-left: 10px;
    padding-right: 32px;
    padding-top: 10px;
}
.emailbox input{
    border: none;
    flex: 1;
    outline: none;
}

.ft{
    font-size: 12px;
    color: rgb(15,35,65);
}
.logo1 img{
    color:rgb(15,35,65);
}
.logo2{
    font-size: larger;
    color: rgb(15,35,65);
}
.socialmediaicons{
  font-size: larger;
  color: rgb(15,35,65);
}
.sec1{
width: 330px;
    height:350px;
    border: 2px solid white;
    border-radius: 30px;
    flex-direction: column;
display: flex;
justify-content: center;
align-items: first baseline;
padding-left: 10px;
padding-top: 10px;


}
.sec2{
    width: 330px;
    height:350px;
    border: 2px solid white;
    border-radius: 30px;
    flex-direction: column;
display: flex;
justify-content: center;
align-items: first baseline;
padding-left: 10px;
padding-top: 10px;


}

.sec3{
    width: 330px;
    height:350px;
    border: 2px solid white;
    border-radius: 30px;
   display: grid;
   grid-template-columns: repeat(4 , 1 fr);
/* display: flex; */
gap: 10px;
/* justify-content: center;
align-items: first baseline;
padding-left: 10px;
padding-top: 10px; */
padding: 20px;
flex-direction: column;
}
.q1{
width: 130px;
    height:130px;
    border: 2px solid white;
    font-size: 12px;
justify-content: center;
align-items: first baseline; 
line-height: 18px;
padding-left: 10px;
padding-top: 5px;
color: rgb(15,35,65);
}

.q2{
width: 130px;
    height:130px;
    border: 2px solid white;
    font-size: 12px;
justify-content: center;
align-items: first baseline; 
line-height: 18px;
padding-left: 10px;
padding-top: 5px;
color: rgb(15,35,65);
}

.q3{
width: 130px;
    height:130px;
    border: 2px solid white;
    font-size: 12px;
justify-content: center;
align-items: first baseline; 
line-height: 18px;
padding-left: 10px;
padding-top: 5px;
color: rgb(15,35,65);
}

.q4{
width: 130px;
    height:130px;
    border: 2px solid white;
    font-size: 12px;
justify-content: center;
align-items: first baseline; 
line-height: 18px;
padding-left: 10px;
padding-top: 5px;
color: rgb(15,35,65);
}

.upperhalf{
    width: 300px;
    height:130px;
    border: 2px solid white;
 display: flex;
 gap: 20px;

}
.lowerpart{

 width: 300px;
    height:130px;
    border: 2px solid white ;
    display: flex;
 gap: 20px;

}

#lastwhitebox{
     width: 100%;
    height:50px;
    border-top: 2px solid   white;
    background-color: rgb(212, 231, 237);
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-size: 10px;
color:rgb(15,35,65) ;
padding-bottom: 20px;
}

.JAR{
  display: flex;
  justify-content: center;
padding-left: 80px;
width: 270px;
height: 270px;
}
/* .BOX{
    transition: all 3s ease;
    box-shadow: 10px 10px 10px 0px grey;
    box x axis y axis blur spread color
    "anchor tab"
    flex wrap ??? display grid??  label tag ?? anchor tag 
} */

@media(max-width:431px){
   .JAR{
    display: none;
   }
    #A{
        flex-direction: column;
    }
.sec3{
    width: 330px;
    height:330px;
}
#lastwhitebox{
     display: none;  
}
.right{
  display: none;
}
#header1{
    width: 430px;
}
#header2{
  width: 430px;  
  font-size: 7px;
}
#section1 img{
    width: 55px;
}
.overlaytext3{
     width: 20%;
    height:20px;
    font-size: 10px;
}

#thatbox{
    font-size: 7px;
}
#lightbluebox{
    flex-direction: column;
    height: 1700px;
    /* display: grid;
grid-auto-flow: column;
grid-auto-columns: 280px;
gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none; */
    
}

#whitebox{
    height: 1500px;
       flex-direction: column;
}
.longbox{
        flex-direction: column;
        padding-left: 90px;
}
#WHITE{
height: 2000px;
flex-direction: column;
}

}